@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Mr+Dafoe&family=Permanent+Marker&family=Righteous&family=Titillium+Web:ital,wght@0,200;0,600;1,200;1,600&display=swap");

:root {
  --logo-color: #449dcfff;
  --primary: rgb(50, 121, 161);
  --primary-accent: rgb(173, 225, 255);
  --primary-light: rgb(210, 238, 255);
  --Pink: #ff0ff8;
  --codaisseur: darkred;
  --freecodecamp: darkgreen;
  --max-width: 900px;
  --max-width-large: 1100px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.codaisseur {
  color: var(--codaisseur);
}
.freeCodeCamp {
  color: var(--freeCodeCamp);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #appFlexbox {
  display: flex;
  flex-direction: column;
} */

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  color: var(--logo-color);
  flex-direction: row;
}

/* Default margins and paddings */

h1,
h2 {
  font-size: 1.8rem;
}

h1,
h2 {
  color: var(--primary);
  text-align: center;
}

h1,
h2,
p {
  margin: 1rem;
}

/* Icons  */

i {
  color: var(--logo-color);
}

/* Menu */

nav a {
  color: var(--primary);
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-light);
}

nav ul {
  list-style: none;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  display: none;
  flex-direction: row;
}

nav ul li {
  margin: 0 2rem;
  font-size: 1.5rem;
}
section#progress,
section#intro,
section#about,
section#hobbies,
section#contact {
  margin: 0 auto;
}

/* Logo  */

section#logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section#logo-text p {
  font-size: 1.5rem;
  height: 1.75rem;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

section#logo-left {
  display: flex;
  padding: 0.5rem;
}

#logo {
  height: 4rem;
  width: auto;
}

.logo {
  height: 3rem;
  width: auto;
  margin-top: 1rem;
  filter: drop-shadow(2px 2px 10px rgba(3, 101, 247, 0.568));
}

/* Intro */
section#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#intro-image {
  float: right;
  display: flex;
  flex-direction: column;
  margin-bottom: -6rem;
  /* width: 25rem; */
}

div#intro-text {
  /* float: left; */
}

section#intro img {
  margin: 1rem auto 2rem auto;
  height: 18rem;
  width: auto;
  border-radius: 50%;
  border: 2px solid var(--primary-accent);
  filter: drop-shadow(2px 2px 10px var(--primary-accent));
}

section#intro h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: var(--primary);
  font-variant: small-caps;
  transform: skew(-2deg, -10deg);
  -webkit-filter: drop-shadow(2px 2px 5px var(--primary-accent));
  background-image: -webkit-linear-gradient(
    var(--primary) 0%,
    var(--primary-accent) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  max-width: 100%;
  position: relative;
  top: -7rem;
  left: 0px;
  margin: 0 auto;
  -webkit-text-stroke: 1px var(--primary);
  /* padding-left: 80px; */
}

section#timeline div p {
  margin: 0;
}

section#timeline ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

/* create line */

section#timeline li {
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 1rem;
  background: var(--primary-accent);
}

/* boxes */

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--primary-light);
  border-radius: 0.5rem 0.5rem;
  transition: all 0.5s ease-in-out;
}

/* Right Side */
#timeline ul li:nth-child(even) div {
  left: 40px;
}

/* Left Side */

#timeline ul li:nth-child(odd) div {
  left: -434px;
}

#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: var(--primary-light);
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* Arrows base */
#timeline div:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* right side arrows */
#timeline ul li:nth-child(even) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--primary-light) transparent transparent;
}

#timeline ul li:nth-child(odd) div:before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent var(--primary-light);
}

.usedTechnologies {
  text-align: center;
}
.usedTechnologies svg {
  width: 4rem;
  height: 4rem;
}
ul.hobbies {
  list-style: none;
  list-style-position: outside;
  margin-left: 2rem;
}

ul.hobbies li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--primary-accent); /* Change the color */
  /* font-weight: bold; If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
  margin-right: 0rem;
}

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(odd) div {
    left: -284px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }
  #timeline ul li div {
    width: calc(100vw - 110px);
  }
  #timeline ul li:nth-child(odd) div {
    left: 40px;
  }
  #timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--primary-light);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1,
  h2,
  p {
    margin: 1.5rem;
  }

  div#intro-image {
    transform: scale(1.2, 1.2);
    margin-bottom: -4rem;
  }
  section#skills {
    top: -2rem;
    position: relative;
  }
  section#about {
    top: -2rem;
    position: relative;
  }
  section#hobbies {
    top: -2rem;
    position: relative;
  }
  section#contact {
    top: -3rem;
    position: relative;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
  h1,
  h2,
  p {
    margin: 2.2rem;
  }
  section#intro {
    display: flexbox;
    flex-direction: row;
    padding: 1rem 5.5rem;
    max-width: 900px;
  }
  div#intro-image {
    margin: 1rem;
  }
  section#skills {
    top: -7rem;
    position: relative;
  }
  section#about {
    top: -8rem;
    position: relative;
  }
  section#hobbies {
    top: -8rem;
    position: relative;
  }
  section#contact {
    top: -9rem;
    position: relative;
  }
  header {
    max-width: var(--max-width-large);
    margin: 0 auto;
  }
  section#progress,
  section#intro,
  section#about,
  section#hobbies,
  section#contact {
    margin: 0 auto;
    max-width: var(--max-width);
  }
  nav ul {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  section#progress,
  section#intro,
  section#about,
  section#hobbies,
  section#contact {
    margin: 0 auto;
    max-width: var(--max-width);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
