@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Mr+Dafoe&family=Permanent+Marker&family=Righteous&family=Titillium+Web:ital,wght@0,200;0,600;1,200;1,600&display=swap");

:root {
  --logo-color: #449dcfff;
  --primary: rgb(50, 121, 161);
  --primary-accent: rgb(173, 225, 255);
  --Pink: #ff0ff8;
  --codaisseur: darkred;
  --freecodecamp: darkgreen;
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Titillium Web", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.codaisseur {
  color: var(--codaisseur);
}
.freeCodeCamp {
  color: var(--freeCodeCamp);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#appFlexbox {
  display: flex;
  flex-direction: column;
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  color: var(--logo-color);
  flex-direction: column;
}

/* Default margins and paddings */

h1,
h2,
p {
  margin: 1rem;
}

/* Icons  */

i {
  color: var(--logo-color);
}

/* Menu */

nav ul {
  list-style: none;
  height: 5rem;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  display: none;
}

nav ul li {
  margin: 0 2rem;
  font-size: 1.5rem;
}

/* Logo  */

section#logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section#logo-text p {
  font-size: 1.5rem;
  height: 1.75rem;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

section#logo-left {
  display: flex;
  padding: 0.5rem;
}

#logo {
  height: 4rem;
  width: auto;
}

section#portfolio,
section#intro,
section#about,
section#contact {
  margin: 0 auto;
  max-width: var(--max-width);
}
/* Intro */
section#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#intro-image {
  float: right;
  display: flex;
  flex-direction: column;
  margin-bottom: -6rem;
  /* width: 25rem; */
}

div#intro-text {
  /* float: left; */
}

section#intro img {
  margin: 1rem auto 2rem auto;
  height: 18rem;
  width: auto;
  border-radius: 50%;
  border: 2px solid var(--primary-accent);
  filter: drop-shadow(2px 2px 10px var(--primary-accent));
}

section#intro h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: var(--primary);
  font-variant: small-caps;
  transform: skew(-2deg, -10deg);
  -webkit-filter: drop-shadow(2px 2px 5px var(--primary-accent));
  background-image: -webkit-linear-gradient(
    var(--primary) 0%,
    var(--primary-accent) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  max-width: 100%;
  position: relative;
  top: -7rem;
  left: 0px;
  margin: 0 auto;
  -webkit-text-stroke: 1px var(--primary);
  /* padding-left: 80px; */
}
