body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/**
* Header
* consist of
* - Logo
* - Menu
*/
header {
  height: 5rem;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

/* Logo  */

section#logo-text {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}

section#logo-text p {
  height: 1rem;
  margin: 0;
}
#logo-left {
  display: flex;
  padding: 0.5rem;
}
#logo {
  height: 4rem;
  width: auto;
}

/* Menu */

nav ul {
  background-color: powderblue;
  display: flex;
  list-style: none;
  height: 5rem;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  margin: 0 2rem;
}
